#header-bump {padding-top: 0em;}
#big-header-bump{padding-top:0em;}
.error404 #big-header-bump{padding-top:8em;}
#hero-top img{width: 100%;} 


#hero-top { display: grid;z-index: 99;}

#hero-top h1{visibility: collapse;}
@supports (display: grid) {
#hero-top h1{visibility: visible;z-index: 888; margin: -15% 0 0 0;color:$whiteColor; padding: 0;line-height: .25em;height: 1.5em;font-size: 2.5em;line-height: 1.5em;
font-weight: normal;justify-content: center;align-content: center;display: grid; text-shadow: 3px 3px 3px #000000;}
}
@media (max-width:825px){  

}
@media screen and (max-width:725px){  
#hero-top,  #header-bump, #big-header-bump {padding-top: 0;}
#hero-top h1{font-size: 1.5em;background: rgba($whiteColor, .6);}
}
@media (max-width:500px){ 
#hero-top h1{visibility: collapse;}
}
