/*------------------- Menus-----------------------------*/
.main-navigation{clear:both;width:100%;height:2em;}
.main-navigation ul{ list-style:none;padding-left:0;text-align:center;margin:0; }
.main-navigation li{ position:relative;margin-right:.05em;font-size:1em;display:inline-block;padding:.5em ;background:transparent;color:$titleBlueColor;font-weight: bold;
text-transform: uppercase;}
.main-navigation li:last-child{position:relative;margin-right:0;font-size:1em;margin-bottom:.25em;display:inline-block;padding:.5em;}
.main-navigation li:hover{ background:transparent;}
.main-navigation li:hover a{color:$darkBlueColor; text-decoration:underline;}
.main-navigation a{ display:block;text-decoration:none;font-weight:bold;color:$titleBlueColor;}
.main-navigation a:hover{ color:$darkBlueColor;}
.main-navigation li.current-menu-item a{ background:transparent}
.main-navigation .current-menu-item{ color:$darkBlueColor;  background:transparent}
.main-navigation ul ul{margin-left:0;display:block;float:left;position:absolute;top:2em;  left:1em;z-index:99999;text-align:left;visibility:collapse;opacity:.001;transition:all .5s ease-in-out 0s;  background:rgba($whiteColor, .9);border-bottom:1px solid $blackColor;border-left:1px solid $blackColor;border-right:1px solid $blackColor;}
.main-navigation ul ul li{-webkit-border-radius:0;border-radius:0;color:$blackColor;}
.main-navigation ul ul li, .main-navigation ul ul li:last-child	{font-size:.85em;}
.main-navigation ul ul li a:hover{text-decoration:underline}
.main-navigation ul ul ul{ left:100%;top:0;}
.main-navigation ul ul a{ width:250px;color:$blackColor;}

.main-navigation ul li:hover >ul{ display:block;opacity:1;visibility:visible;transition:all 0.25s ease 0s;width:250px;overflow:hidden; }
.main-navigation ul li:hover >ul li a{color:$blackColor; text-decoration: none;}
.main-navigation ul li:hover >ul li a:hover{text-decoration: underline;}
.site-main .comment-navigation, .site-main .paging-navigation, .site-main .post-navigation{ margin:0 0 1.5em;overflow:hidden}
.comment-navigation .nav-previous, .paging-navigation .nav-previous, .post-navigation .nav-previous{float:left;width:50%}
.comment-navigation .nav-next, .paging-navigation .nav-next, .post-navigation .nav-next{ float:right;text-align:right;width:50%}


@media (max-width:975px){  
.main-navigation{margin-top:0em;}
.main-navigation li, .main-navigation li:last-child{font-size:.75em;}
}

@media screen and (max-width:725px){ 
.logged-in .main-navigation {
   top: 3em;
}	
.main-navigation a{color:$blackColor!important;}	
h1.menu-toggle{color:$whiteColor;font-size:1.25em;padding:1em 0;line-height:1.5em; top:-1em; font-weight:normal;font-family:$titleFont;position:relative;left:0;z-index: 1}
h1.menu-toggle:before{  font-family: "Font Awesome 5 Free";font-weight: 900;content: "\f055";padding-right:.5em;}
 .menu-toggle,.main-navigation.toggled .nav-menu{display:block;}
 .toggled h1.menu-toggle:before{  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f056";}
.main-navigation{height:auto;}
.main-navigation .current-menu-item{background:transparent;}
.main-navigation li.current-menu-item a{background:transparent;}
.main-navigation ul{display:none; margin-left:1em;background:$whiteColor; width:90%;margin-top:1em;}
.main-navigation li, .main-navigation li:last-child{float:none;width:100%;text-align:left;background:transparent;-webkit-border-radius:0;border-radius:0;font-size:1.25em;}
.main-navigation a{display:block;text-decoration:none;font-weight:normal;color:$blueColor;background:transparent;}
.main-navigation ul li:hover >ul, .main-navigation li:hover >ul a{visibility:visible; color:$blackColor;width: auto;}
.main-navigation li, .main-navigation li:last-child{float:none;width:100%;text-align:left;background:transparent;-webkit-border-radius:0;border-radius:0;font-size:1em;}
.main-navigation li:hover, .main-navigation li:last-child:hover, .main-navigation ul ul li:hover >a, .main-navigation ul ul li:last-child:hover >a{background:transparent;color:$blackColor;}
.main-navigation ul ul li:hover, .main-navigation ul ul li:last-child:hover, .main-navigation li:hover >a, .main-navigation li:last-child:hover >a{background:transparent;color:$blackColor;}
.main-navigation li a:hover, .main-navigation li:last-child a:hover{text-decoration:underline;}
.menu-main-menu-container{background:$whiteColor;position:absolute;top:2em;left:-.5em;width:95%;-webkit-border-radius: 0 0 25px 25px;border-radius: 0 0 25px 25px;}
.main-navigation ul ul {margin-left: 0;display: block;float: left;position: relative;top: 0;left: 1em;z-index: 99999;text-align: left;visibility: visible;opacity: 1;-webkit-transition: all .5s ease-in-out 0s;transition: all .5s ease-in-out 0s;background:transparent;border:none; width:80%;}
.main-navigation ul ul li {background: transparent;border-radius: 0;border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.main-navigation ul ul li, .main-navigation ul ul li:last-child	{font-size:1em;}
.menu-main-container {top: 1em; left:0;position: absolute;width:80%;}
.menu-main-menu-container {padding-bottom:1em;}
.main-navigation ul ul a,.main-navigation ul ul a:hover  {width: auto;}
}