$blackColor: #000000;
$whiteColor:#ffffff;
$greyColor:#cccccc;
$darkGreyColor:#666666;

$titleBlueColor:#008cc1;

$lightBlueColor:#00649c;
$darkBlueColor:#001f30;
$darkBrownColor:#322215;
$goldColor: #fadb27;/*-- actually yellow */
$redColor:#d30019;
$blueColor:#1349ad;
$greenColor:#298934;
$darkerRedColor:#d30019;


$futuraFont:futura-pt,Arial,Tahoma,Verdana;
$defaultFont:'Libre Franklin',Arial,Tahoma,Verdana;
$serifFont:'Crimson Text', Georgia,Times,Times New Roman,serif;
$titleFont:'Libre Franklin',Arial,Tahoma,Verdana;
$nerdFont:"Courier 10 Pitch",Courier,monospace;
